In [71]:
from pandas import *

df=read_csv('ratings1.csv')
df2=read_csv('users1.csv')
df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [72]:
df2.head()

   UserID Gender  Age  Occupation  ZipCode
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7     2460
4       5      M   25          20    55455

In [73]:
result=df.merge(df2, on='UserID',how='inner')
result.head()

   UserID  MovieID  Rating  Timestamp Gender  Age  Occupation  ZipCode
0       1     1193       5  978300760      F    1          10    48067
1       1      661       3  978302109      F    1          10    48067
2       1      914       3  978301968      F    1          10    48067
3       1     3408       4  978300275      F    1          10    48067
4       1     2355       5  978824291      F    1          10    48067

In [74]:
df1=read_csv('movieoutput.csv',encoding='latin-1')

In [75]:
df1.head()

   MovieID                               Title                        Genres;
0        1                    Toy Story (1995)   Animation|Children's|Comedy;
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy;
2        3             Grumpier Old Men (1995)                Comedy|Romance;
3        4            Waiting to Exhale (1995)                  Comedy|Drama;
4        5  Father of the Bride Part II (1995)                        Comedy;

In [108]:
result1 = result.merge( df1, on = 'MovieID')

def change_gender(x):
    if x=='F':
        return 1
    return 0
result1['Gender'] = result1['Gender'].apply(change_gender)

result1.head()

,UserID,MovieID,Rating,Timestamp,Gender,Age,Occupation,ZipCode,Title,Genres;
0,1,1193,5,978300760,1,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama;
1,2,1193,5,978298413,0,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama;
2,12,1193,4,978220179,0,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama;
3,15,1193,4,978199279,0,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama;
4,17,1193,5,978158471,0,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama;

In [109]:
def Action(x):
    if "Action" in x:
        return 1
    else:
        return 0
def Adventure(x):
    if "Adventure" in x:
        return 1
    else:
        return 0
def Animation(x):
    if "Animation" in x:
        return 1
    else:
        return 0
def Children(x):
    if "Children's" in x:
        return 1
    else:
        return 0

def Comedy(x):
    if "Comedy" in x:
        return 1
    else:
        return 0
    
def Crime(x):
    if "Crime" in x:
        return 1
    else:
        return 0    
    
def Documentary(x):
    if "Documentary" in x:
        return 1
    else:
        return 0   
    
def Drama(x):
    if "Drama" in x:
        return 1
    else:
        return 0
def Fantasy(x):
    if "Fantasy" in x:
        return 1
    else:
        return 0
def FilmNoir(x):
    if "Film-Noir" in x:
        return 1
    else:
        return 0    
def Horror(x):
    if "Horror" in x:
        return 1
    else:
        return 0    
def Musical(x):
    if "Musical" in x:
        return 1
    else:
        return 0    
def Mystery(x):
    if "Mystery" in x:
        return 1
    else:
        return 0    
def Romance(x):
    if "Romance" in x:
        return 1
    else:
        return 0    
    
def SciFi(x):
    if "Sci-Fi" in x:
        return 1
    else:
        return 0    
def Thriller(x):
    if "Thriller" in x:
        return 1
    else:
        return 0    
def War(x):
    if "War" in x:
        return 1
    else:
        return 0    
def Western(x):
    if "Western" in x:
        return 1
    else:
        return 0     
    
    

cats=["Action", "Adventure","Animation"," Children's", "Comedy","Crime","Documentary","Drama",\
 "Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western" ]
#for cat in cats:
    #df[cat] = 0
#    df[cat] = df['Genres;'].apply(check)
result1['Action'] = result1['Genres;'].apply(Action)
result1['Adventure'] = result1['Genres;'].apply(Adventure)
result1['Animation'] = result1['Genres;'].apply(Animation)
result1["Children's"] = result1['Genres;'].apply(Children)
result1['Comedy'] = result1['Genres;'].apply(Comedy)
result1['Crime'] = result1['Genres;'].apply(Crime)
result1['Documentary'] = result1['Genres;'].apply(Documentary)
result1['Drama'] = result1['Genres;'].apply(Drama)
result1['Fantasy'] = result1['Genres;'].apply(Fantasy)
result1['Film-Noir'] = result1['Genres;'].apply(FilmNoir)
result1['Horror'] = result1['Genres;'].apply(Horror)
result1['Musical'] = result1['Genres;'].apply(Musical)
result1['Mystery'] = result1['Genres;'].apply(Mystery)
result1['Romance'] = result1['Genres;'].apply(Romance)
result1['Sci-Fi'] = result1['Genres;'].apply(SciFi)
result1['Thriller'] = result1['Genres;'].apply(Thriller)
result1['War'] = result1['Genres;'].apply(War)
result1['Western'] = result1['Genres;'].apply(Western)

In [123]:
result1[result1['Gender'] == 1].shape

(246440, 28)

In [124]:
result1[result1['Gender'] == 0].shape

(753769, 28)

In [110]:
age_dummies = pd.get_dummies(result1['Age'])
occ_dummies = pd.get_dummies(result1['Occupation'])

# Let's take a quick look at the results
age_dummies.head()

   1   18  25  35  45  50  56
0   1   0   0   0   0   0   0
1   0   0   0   0   0   0   1
2   0   0   1   0   0   0   0
3   0   0   1   0   0   0   0
4   0   0   0   0   0   1   0

In [111]:
occ_dummies.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
age_dummies.columns = ['age1','age2','age3','age4','age5','age6','age7']
occ_dummies.columns = ['other', 'academic','artist',' admin', 'college','customer_service','doctor','manager','farmer','homemaker','K_12Student','lawyer','programmer','retired','marketing','Scientist','self_employed','engineer','tradesman','unemployed','writer']

In [113]:
X = result1.drop(['Age','Occupation','Genres;','Title'],axis=1)

In [114]:
dummies = pd.concat([age_dummies,occ_dummies],axis=1)

In [115]:
# Now Concat the X DataFrame with the dummy variables
X = pd.concat([X,dummies],axis=1)

# Preview of Result
X.head()

,UserID,MovieID,Rating,Timestamp,Gender,ZipCode,Action,Adventure,Animation,Children's,...,lawyer,programmer,retired,marketing,Scientist,self_employed,engineer,tradesman,unemployed,writer
0,1,1193,5,978300760,1,48067,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1193,5,978298413,0,70072,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,12,1193,4,978220179,0,32793,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,15,1193,4,978199279,0,22903,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1193,5,978158471,0,95350,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
# Set Y as Target class, Had Affair
Y = result1.Gender

# Preview
Y.head()

0    1
1    0
2    0
3    0
4    0
Name: Gender, dtype: int64

In [117]:
# Flatten array
Y = np.ravel(Y)

# Check result
Y

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [118]:
# Math
import math

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Machine Learning Imports
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

# For evaluating our ML results
from sklearn import metrics

# Dataset Import
import statsmodels.api as sm

In [119]:
# Create LogisticRegression model
log_model = LogisticRegression()

# Fit our data
log_model.fit(X,Y)

# Check our accuracy
log_model.score(X,Y)

0.7536114951975037

In [120]:
# Check percentage of women that had affairs
Y.mean()

0.24638850480249627

In [121]:
# Use zip to bring the column names and the np.transpose function to bring together the coefficients from the model
coeff_df = DataFrame(list(zip(X.columns, np.transpose(log_model.coef_))))

In [90]:
coeff_df

                   0                     1
0             UserID  [-1.33904295718e-13]
1            MovieID   [5.94120663091e-14]
2             Rating  [-4.69620826086e-17]
3          Timestamp   [1.14195515111e-09]
4             Gender   [1.03947509557e-15]
5            ZipCode   [1.49911353454e-09]
6             Action   [1.00017834348e-16]
7          Adventure    [3.1999555057e-17]
8          Animation  [-8.67032082855e-18]
9         Children's  [-1.97679109308e-17]
10            Comedy  [-4.66356799804e-17]
11             Crime   [1.78719955982e-17]
12       Documentary   [7.13968627412e-20]
13             Drama  [-5.96916664224e-17]
14           Fantasy   [1.32188035814e-18]
15         Film-Noir   [1.75774981766e-18]
16            Horror   [2.35913611324e-17]
17           Musical  [-1.82994066328e-17]
18           Mystery  [-3.15687798852e-19]
19           Romance  [-7.77400036874e-17]
20            Sci-Fi   [6.39097384651e-17]
21          Thriller   [3.63509936549e-17]
22               War   [1.58005229857e-17]
23           Western   [9.06346513632e-18]
24              age1  [-1.19385194494e-17]
25              age2  [-6.47984441926e-19]
26              age3   [3.58710186965e-17]
27              age4  [-2.96630463327e-18]
28              age5  [-1.94309533982e-17]
29              age6  [-1.27373621643e-18]
30              age7   [1.98500662309e-18]
31             other  [-4.84254465559e-18]
32          academic  [-6.38902845942e-17]
33            artist  [-2.09646505081e-17]
34             admin  [-3.64119849921e-17]
35           college  [-4.90979233059e-19]
36  customer_service   [7.77318438067e-18]
37            doctor  [-3.23725788092e-17]
38           manager   [4.48822001431e-17]
39            farmer   [1.90490239822e-19]
40         homemaker  [-4.33480564244e-17]
41       K_12Student  [-7.06357308775e-18]
42            lawyer   [1.36672197292e-17]
43        programmer   [4.10632230915e-17]
44           retired   [3.37435543913e-18]
45         marketing   [9.36621682396e-19]
46         Scientist   [8.26332714091e-18]
47     self_employed   [2.20451117777e-17]
48          engineer   [5.80057799519e-17]
49         tradesman   [1.42644777937e-17]
50        unemployed   [8.12214425633e-19]
51            writer  [-4.29502631081e-18]

In [122]:
coeff_df

                   0                     1
0             UserID   [1.33904295718e-13]
1            MovieID  [-5.94120663091e-14]
2             Rating   [4.69620826087e-17]
3          Timestamp  [-1.14195515111e-09]
4             Gender   [1.03787656839e-15]
5            ZipCode  [-1.49911353454e-09]
6             Action  [-1.00017834348e-16]
7          Adventure   [-3.1999555057e-17]
8          Animation   [8.67032082855e-18]
9         Children's   [1.97679109308e-17]
10            Comedy   [4.66356799804e-17]
11             Crime  [-1.78719955982e-17]
12       Documentary  [-7.13968627414e-20]
13             Drama   [5.96916664224e-17]
14           Fantasy  [-1.32188035814e-18]
15         Film-Noir  [-1.75774981766e-18]
16            Horror  [-2.35913611324e-17]
17           Musical   [1.82994066328e-17]
18           Mystery   [3.15687798851e-19]
19           Romance   [7.77400036874e-17]
20            Sci-Fi  [-6.39097384651e-17]
21          Thriller  [-3.63509936549e-17]
22               War  [-1.58005229857e-17]
23           Western  [-9.06346513632e-18]
24              age1   [1.19385194494e-17]
25              age2   [6.47984441923e-19]
26              age3  [-3.58710186965e-17]
27              age4   [2.96630463327e-18]
28              age5   [1.94309533982e-17]
29              age6   [1.27373621643e-18]
30              age7  [-1.98500662309e-18]
31             other   [4.84254465559e-18]
32          academic   [6.38902845942e-17]
33            artist   [2.09646505081e-17]
34             admin   [3.64119849921e-17]
35           college   [4.90979233056e-19]
36  customer_service  [-7.77318438067e-18]
37            doctor   [3.23725788092e-17]
38           manager  [-4.48822001431e-17]
39            farmer  [-1.90490239822e-19]
40         homemaker   [4.33480564244e-17]
41       K_12Student   [7.06357308775e-18]
42            lawyer  [-1.36672197292e-17]
43        programmer  [-4.10632230915e-17]
44           retired  [-3.37435543913e-18]
45         marketing  [-9.36621682397e-19]
46         Scientist  [-8.26332714091e-18]
47     self_employed  [-2.20451117777e-17]
48          engineer  [-5.80057799519e-17]
49         tradesman  [-1.42644777937e-17]
50        unemployed  [-8.12214425633e-19]
51            writer   [4.29502631081e-18]

In [91]:
# Split the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

# Make a new log_model
log_model2 = LogisticRegression()

# Now fit the new model
log_model2.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [92]:
# Predict the classes of the testing data set
class_predict = log_model2.predict(X_test)

# Compare the predicted classes to the actual test classes
print (metrics.accuracy_score(Y_test,class_predict))

0.753792196054

In [129]:
coeff_df = DataFrame(list(zip(X_test.columns, np.transpose(log_model.coef_))))

In [130]:
coeff_df

                   0                     1
0             UserID   [1.33904295718e-13]
1            MovieID  [-5.94120663091e-14]
2             Rating   [4.69620826087e-17]
3          Timestamp  [-1.14195515111e-09]
4             Gender   [1.03787656839e-15]
5            ZipCode  [-1.49911353454e-09]
6             Action  [-1.00017834348e-16]
7          Adventure   [-3.1999555057e-17]
8          Animation   [8.67032082855e-18]
9         Children's   [1.97679109308e-17]
10            Comedy   [4.66356799804e-17]
11             Crime  [-1.78719955982e-17]
12       Documentary  [-7.13968627414e-20]
13             Drama   [5.96916664224e-17]
14           Fantasy  [-1.32188035814e-18]
15         Film-Noir  [-1.75774981766e-18]
16            Horror  [-2.35913611324e-17]
17           Musical   [1.82994066328e-17]
18           Mystery   [3.15687798851e-19]
19           Romance   [7.77400036874e-17]
20            Sci-Fi  [-6.39097384651e-17]
21          Thriller  [-3.63509936549e-17]
22               War  [-1.58005229857e-17]
23           Western  [-9.06346513632e-18]
24              age1   [1.19385194494e-17]
25              age2   [6.47984441923e-19]
26              age3  [-3.58710186965e-17]
27              age4   [2.96630463327e-18]
28              age5   [1.94309533982e-17]
29              age6   [1.27373621643e-18]
30              age7  [-1.98500662309e-18]
31             other   [4.84254465559e-18]
32          academic   [6.38902845942e-17]
33            artist   [2.09646505081e-17]
34             admin   [3.64119849921e-17]
35           college   [4.90979233056e-19]
36  customer_service  [-7.77318438067e-18]
37            doctor   [3.23725788092e-17]
38           manager  [-4.48822001431e-17]
39            farmer  [-1.90490239822e-19]
40         homemaker   [4.33480564244e-17]
41       K_12Student   [7.06357308775e-18]
42            lawyer  [-1.36672197292e-17]
43        programmer  [-4.10632230915e-17]
44           retired  [-3.37435543913e-18]
45         marketing  [-9.36621682397e-19]
46         Scientist  [-8.26332714091e-18]
47     self_employed  [-2.20451117777e-17]
48          engineer  [-5.80057799519e-17]
49         tradesman  [-1.42644777937e-17]
50        unemployed  [-8.12214425633e-19]
51            writer   [4.29502631081e-18]

In [128]:
X_train

,UserID,MovieID,Rating,Timestamp,Gender,ZipCode,Action,Adventure,Animation,Children's,...,lawyer,programmer,retired,marketing,Scientist,self_employed,engineer,tradesman,unemployed,writer
389918,3336,1027,3,967963730,1,93436,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
326825,713,1030,2,975537871,1,79912,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
477891,5812,1377,3,957943168,0,92120,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
944200,117,3754,1,977501199,1,33314,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
323347,3572,36,5,966736067,1,4287,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
742651,2757,3556,4,980187673,1,10023,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
569460,4360,441,2,965188938,0,98001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392347,3609,367,4,966615338,0,48239,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
133096,4299,736,5,965271090,0,43617,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
976806,4932,99,3,962651866,1,63303,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659954,4335,1275,3,965339138,1,74011,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
926504,3123,2448,1,969324621,1,90401,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123622,5683,1801,4,959399608,0,94538,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150253,4345,1954,4,966360719,0,44304,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
528563,1015,2012,3,975105799,1,11220,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855151,118,3406,5,977500729,1,22315,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
336351,498,3685,3,977848819,1,55113,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
98054,4620,110,4,964122880,0,94606,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
437312,3031,1339,5,970954702,1,48135,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82241,5539,3108,3,968170342,0,91403,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
504230,2015,520,5,974676801,1,1003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
784292,3598,381,1,966627205,1,90210,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
351474,1899,474,4,975036451,0,2135,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
824508,1415,949,3,993497885,1,22901,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
953351,1015,2741,2,975105128,1,11220,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
902790,2703,2112,2,973299765,1,52803,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
391266,4979,2699,4,962602063,1,55423,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
566936,5491,788,4,959868737,1,10016,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
514679,2847,2005,1,974502110,1,10027,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
275536,3669,3020,4,966379582,1,60148,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12150,4050,919,5,966105214,1,60061,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
479880,403,1015,3,976307357,1,2138,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307517,225,994,3,976830675,1,11215,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
811631,702,3244,4,975564182,1,90808,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
621516,2085,1911,4,974655309,1,6360,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
669580,4100,3633,3,965414340,1,77096,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443964,1680,1345,5,974708813,1,95380,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
680312,2380,475,4,974331198,1,22903,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111006,2689,1225,5,973348116,1,27511,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
971458,3736,2548,2,966190034,1,44242,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101823,5204,3471,5,961632460,1,56342,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
133923,1244,1198,5,974831141,1,22030,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
885656,4116,23,4,968554417,1,7040,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302969,5261,3267,4,961196765,1,10025,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
377664,1181,2023,4,974855134,1,20716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751614,5300,125,5,960976787,1,94111,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
502784,5645,3591,3,958930412,1,87123,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
312790,2298,2188,2,974498959,1,77584,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
944721,1624,3029,2,974852730,1,6810,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503636,4800,3593,1,962989611,1,80521,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718156,3902,849,5,965767099,1,46239,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
274688,1985,968,3,974683793,1,92122,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
231387,69,1466,4,977881978,0,2143,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
704110,4873,3752,1,962789218,1,13760,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
570249,5288,3182,1,961086606,1,94114,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
31958,3108,1721,5,969497058,1,22039,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
595367,1679,2719,3,974709211,1,98052,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24156,2211,1270,4,974603101,1,1950,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
309476,2120,24,2,975453205,1,2780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
903754,2807,2788,4,972779319,0,22043,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [104]:

df_test, df_train = train_test_split(df1)

In [105]:
df_train

,MovieID,Title,Genres;
1527,1567,Last Time I Committed Suicide The (1997),Drama;
1082,1098,Search for One-eye Jimmy The (1996),Comedy;
711,720,Wallace & Gromit: The Best of Aardman Animatio...,Animation;
3685,3754,Adventures of Rocky and Bullwinkle The (2000),Animation|Children's|Comedy;
3780,3850,Whatever Happened to Aunt Alice? (1969),Crime|Thriller;
3349,3418,Thelma & Louise (1991),Action|Drama;
1025,1038,Unhook the Stars (1996),Drama;
3064,3133,Go West (1925),Comedy;
2567,2636,Mummy's Ghost The (1944),Horror;
681,690,Promise The (Versprechen Das) (1994),Romance;
975,987,Bliss (1997),Drama|Romance;
2893,2962,Fever Pitch (1997),Comedy|Romance;
2201,2270,Century of Cinema A (1994),Documentary;
2356,2425,General The (1998),Crime;
2937,3006,Insider The (1999),Drama;
1943,2012,Back to the Future Part III (1990),Comedy|Sci-Fi|Western;
1289,1309,Parallel Sons (1995),Drama|Romance;
2747,2816,Iron Eagle II (1988),Action|War;
2820,2889,Mystery Alaska (1999),Comedy;
1217,1236,Trust (1990),Comedy|Drama;
2757,2826,13th Warrior The (1999),Action|Horror|Thriller;
3493,3562,Committed (2000),Comedy|Drama;
1352,1373,Star Trek V: The Final Frontier (1989),Action|Adventure|Sci-Fi;
1365,1386,Terror in a Texas Town (1958),Western;
2844,2913,Mating Habits of the Earthbound Human The (1998),Comedy;
102,104,Happy Gilmore (1996),Comedy;
3636,3705,Bird on a Wire (1990),Action|Adventure|Romance|Thriller;
1417,1442,Prefontaine (1997),Drama;
1298,1318,Blue Juice (1995),Comedy|Drama;
1275,1295,Unbearable Lightness of Being The (1988),Drama;
...,...,...,...
3400,3469,Inherit the Wind (1960),Drama;
2802,2871,Deliverance (1972),Adventure|Thriller;
1327,1348,Nosferatu (Nosferatu eine Symphonie des Grauen...,Horror;
359,363,Wonderful Horrible Life of Leni Riefenstahl Th...,Documentary;
2164,2233,Digging to China (1998),Drama;
2613,2682,Limbo (1999),Drama;
1252,1272,Patton (1970),Drama|War;
2810,2879,Operation Condor (Feiying gaiwak) (1990),Action|Adventure|Comedy;
1540,1581,Out to Sea (1997),Comedy;
155,157,Canadian Bacon (1994),Comedy|War;
634,639,Girl 6 (1996),Comedy;
3615,3684,Fabulous Baker Boys The (1989),Drama|Romance;
3231,3300,Pitch Black (2000),Action|Sci-Fi;
3282,3351,Two Thousand Maniacs! (1964),Horror;
945,957,Scarlet Letter The (1926),Drama;
2189,2258,Master Ninja I (1984),Action;
2081,2150,Gods Must Be Crazy The (1980),Comedy;
548,552,Three Musketeers The (1993),Action|Adventure|Comedy;
1084,1100,Days of Thunder (1990),Action|Romance;
749,759,Maya Lin: A Strong Clear Vision (1994),Documentary;
980,992,Rich Man's Wife The (1996),Thriller;
545,549,Thirty-Two Short Films About Glenn Gould (1993),Documentary;
2663,2732,Jules and Jim (Jules et Jim) (1961),Drama;
123,125,Flirting With Disaster (1996),Comedy;
882,894,Liebelei (1933),Romance;
3422,3491,My Chauffeur (1986),Comedy;
3042,3111,Places in the Heart (1984),Drama;
1384,1407,Scream (1996),Horror|Thriller;
3530,3599,Anchors Aweigh (1945),Comedy|Musical;
1299,1319,Kids of Survival (1993),Documentary;

In [106]:
df_test

,MovieID,Title,Genres;
2190,2259,Blame It on Rio (1984),Comedy|Romance;
2548,2617,Mummy The (1999),Action|Adventure|Horror|Thriller;
1247,1267,Manchurian Candidate The (1962),Film-Noir|Thriller;
3758,3828,Better Living (1998),Comedy;
3229,3298,Boiler Room (2000),Drama;
2728,2797,Big (1988),Comedy|Fantasy;
3307,3376,Fantastic Night The (La Nuit Fantastique) (1949),Romance;
1246,1266,Unforgiven (1992),Western;
1584,1627,U Turn (1997),Action|Crime|Mystery;
1339,1360,Identification of a Woman (Identificazione di ...,Drama;
3137,3206,Against All Odds (1984),Romance;
2418,2487,Blood Guts Bullets and Octane (1998),Action|Comedy;
1166,1183,English Patient The (1996),Drama|Romance|War;
3814,3884,Crew The (2000),Comedy;
874,886,Bulletproof (1996),Action;
163,165,Die Hard: With a Vengeance (1995),Action|Thriller;
1133,1149,JLG/JLG - autoportrait de décembre (1994),Documentary|Drama;
2027,2096,Sleeping Beauty (1959),Animation|Children's|Musical;
2778,2847,Only Angels Have Wings (1939),Drama;
1875,1944,From Here to Eternity (1953),Drama|Romance|War;
2899,2968,Time Bandits (1981),Adventure|Fantasy|Sci-Fi;
2921,2990,Licence to Kill (1989),Action;
1581,1624,Thousand Acres A (1997),Drama;
2720,2789,Damien: Omen II (1978),Horror;
2129,2198,Modulations (1998),Documentary;
148,150,Apollo 13 (1995),Drama;
2122,2191,Merry War A (1997),Comedy;
2938,3007,American Movie (1999),Documentary;
3215,3284,They Might Be Giants (1971),Comedy|Romance;
1649,1696,Bent (1997),Drama|War;
...,...,...,...
1290,1310,Hype! (1996),Documentary;
3823,3893,Nurse Betty (2000),Comedy|Thriller;
880,892,Twelfth Night (1996),Comedy|Drama|Romance;
191,193,Showgirls (1995),Drama;
1827,1896,Cousin Bette (1998),Comedy;
3313,3382,Song of Freedom (1936),Drama;
716,725,Great White Hype The (1996),Comedy;
3667,3736,Big Carnival The (1951),Drama;
3222,3291,Trois (2000),Thriller;
1293,1313,Mad Dog Time (1996),Crime;
1719,1776,Ride (1998),Drama;
1632,1678,Joy Luck Club The (1993),Drama;
3795,3865,Original Kings of Comedy The (2000),Comedy|Documentary;
1473,1507,Paradise Road (1997),Drama|War;
1929,1998,Exorcist II: The Heretic (1977),Horror;
2835,2904,Rain (1932),Drama;
3559,3628,Flying Tigers (1942),Action|Drama|War;
1481,1516,Children of the Revolution (1996),Comedy;
3458,3527,Predator (1987),Action|Sci-Fi|Thriller;
1429,1456,Pest The (1997),Comedy;
1492,1528,Intimate Relations (1996),Comedy;
3769,3839,Phantasm IV: Oblivion (1998),Horror;
2986,3055,Felicia's Journey (1999),Thriller;
2739,2808,Universal Soldier (1992),Action|Sci-Fi;
3220,3289,Not One Less (Yi ge dou bu neng shao) (1999),Drama;
483,487,Lightning Jack (1994),Comedy|Western;
3109,3178,Hurricane The (1999),Drama;
3638,3707,Nine 1/2 Weeks (1986),Drama;
1182,1200,Aliens (1986),Action|Sci-Fi|Thriller|War;
2429,2498,My Favorite Martian (1999),Comedy|Sci-Fi;